@model List<Student>
@{
	ViewData["Title"] = "Student List";
}
<div>
	<div class="row">
		<div class="col-6">
			<h2>Student List</h2>
		</div>
		<div class="col-6 justify-content-end d-flex align-content-center">
			<a class="btn btn-primary" asp-controller="Student" asp-action="Create">Add student</a>
		</div>
	</div>
	<table class="table table-stripped">
		<thead>
			<tr>
				<td>Id</td>
				<td>Name</td>
				<td>Class</td>
				<td>Percentage</td>
				<td>Actions</td>
			</tr>
		</thead>
		<tbody>
			@if(Model==null || Model.Count==0){
				<tr>
					<td colspan="5">
						No record found.
					</td>
				</tr>
			}
			else{
				@foreach(Student student in Model){
					<tr>
						<td>@student.Id</td>
						<td>@student.Name</td>
						<td>@student.ClassName</td>
						<td>@student.percentage</td>
						<td>
							<a class="btn btn-dark" asp-controller="Student" asp-action="Edit" asp-route-studentId="@student.Id">Edit</a>
							<a class="btn btn-danger" asp-controller="Student" asp-action="Delete" asp-route-studentId="@student.Id">Delete</a>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>
@section Scripts
{	
		@if(TempData["msg"]!=null){
			<script>
				alert(@TempData["msg"]);
			</script>
		}
}