
@model List<Product>

<div class="row">
	<div class="col-6">
		<h1>Product List</h1>
	</div>
	<div class="col-6 d-flex justify-content-end align-items-center">
		<a class="btn btn-outline-primary" asp-controller="Product" asp-action="Upsert">Create New Product</a>
	</div>
</div>
<table id="productTbl" class="table table-bordered table-stripped">
	<thead>
		<tr>
			<td>Title</td>
			<td>Author</td>
			<td>List Price</td>
			<td>Category</td>
			<td>Edit</td> 
			<td>Delete</td>
		</tr>
	</thead>
	@* <tbody> *@
	@* 	@foreach(var obj in Model) *@
	@* 	{ *@
	@* 		<tr> *@
	@* 			<td>@obj.Title</td> *@
	@* 			<td>@obj.Author</td> *@
	@* 			<td>@obj.ListPrice</td> *@
	@* 			<td>@obj.Category.Name</td> *@
	@* 			<td class="text-center"> *@
	@* 				<a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-group btn-dark" role="group"> *@
	@* 					<i class="bi bi-pencil-square"></i>  Edit *@
	@* 				</a> *@
	@* 			</td> *@
	@* 			<td class="text-center"> *@
	@* 				<a asp-controller="Product"  asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-group btn-danger" role="group"> *@
	@* 					<i class="bi bi-trash"></i>  Delete *@
	@* 				</a> *@
	@* 			</td> *@
	@* 		</tr> *@
	@* 	} *@
	@* </tbody> *@
</table>
@section Scripts{
	<script src="~/js/product.ajax.js" ></script>
}